h4 {
    margin-bottom: 20px;
}

.mensagem {
    position: absolute;
    margin-top: 120px;
    right: 100%;
    animation: mensagem 7s;
    width: 400px;
    z-index: 1;
}

@keyframes mensagem {
    8% {
        right: 50%;
        transform: translate(50%, 0)
    }
    50% {
        right: 50%;
        transform: translate(50%, 0)
    }
    60% {
        right: 100%;
        transform: translate(0, 0)
    }
}