.navbar-brand {
    margin-left: 10px;
    background: url(../images/cropped-icon-for-site-470x470.png) no-repeat center;
    background-size: cover;
    width: 50px;
    height: 50px
}

nav, footer {
    display: block;
}
footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    text-align: center;
    width: 100%;
    background-color: #f8f8f8;
    font-weight: 700;
    text-transform: uppercase;
    border-top: #e6e6e6 solid 1px
}

footer span {
    font-size: 10px
}

footer p {
    margin-top: 5px;
    margin-bottom: 0;
}

thead {
    font-weight: 700
}