<div class="container">

    <p class="mensagem alert alert-danger text-center" ng-show="mensagem">{{mensagem}}</p>
    <h2>BibliotecEinstein</h2>
    <p>Bem-vindo à Biblioteca, jovem Einsteiniano!</p>
    <h4>Meus Empréstimos</h4>
    <table class="table" ng-if="meusLivros.tamanho > 0">
        <thead>
        <td>#</td>
        <td>Autor</td>
        <td>Título</td>
        <td>Data de Empréstimo</td>
        <td>Data de Devolução</td>
        </thead>
        <tbody>
        <tr ng-repeat="livro in meusLivros" ng-class="hoje >= livro.data_devolucao ? 'alert-danger' : ''">
            <td>{{livro.id_livro}}</td>
            <td>{{livro.autor}}</td>
            <td>{{livro.titulo}}</td>
            <td>{{livro.data_emprestimo | date : "dd/MM/yyyy"}}</td>
            <td>{{livro.data_devolucao | date : "dd/MM/yyyy"}}</td>
        </tr>
        </tbody>
    </table>
    <p class="alert alert-info" ng-if="meusLivros.tamanho == 0">Você não possui nenhum empréstimo.</p>

    <h4>Livros disponíveis</h4>
    <table class="table" ng-if="livros.tamanho > 0">
        <thead>
        <td>#</td>
        <td>Autor</td>
        <td>Título</td>
        <td>Coleção</td>
        <td>Matéria</td>
        </thead>
        <tbody>
        <tr ng-repeat="livro in livros" ng-if="livro.disponibilidade == 1">
            <td>{{livro.id_livro}}</td>
            <td>{{livro.autor}}</td>
            <td>{{livro.titulo}}</td>
            <td>{{livro.colecao}}</td>
            <td>{{livro.materia}}</td>
            <td ng-click="emprestimo(livro)">Pegar emprestado</td>
        </tr>
        </tbody>
    </table>
    <p class="alert alert-info" ng-if="livros.tamanho == 0">Não existem livros disponíveis para empréstimo.</p>
</div>